# Tuple

In [6]:
my_tuple = (1, 2, 3, 4, 5)
my_list = [1, 2, 3, 4, 5]
print( type(my_tuple) )

print( type( ('a', 'b') ))
print( type( [] ))
print( type( () ))

<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [8]:
print( my_tuple )
print( my_list )
print( len( my_tuple ) )

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
5

In [11]:
my_tuple + 6

TypeError: can only concatenate tuple (not "int") to tuple

In [13]:
my_tuple + my_list

TypeError: can only concatenate tuple (not "list") to tuple

In [16]:
my_tuple = (1, 2, 3, 4, 5, 7 )
print( my_tuple[0] )
print( my_tuple[2:] )

1
(3, 4, 5, 7)

In [18]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5, 7 )
print( my_list )
my_list[0] = 10
print( my_list )
print( my_tuple )
my_tuple[0] = 10

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 7)

TypeError: 'tuple' object does not support item assignment

In [25]:
my_tuple = (1, 2, 3, 4, 5, 7 )
print( my_tuple )
tmp = list( my_tuple )
print( tmp )
tmp[0] = 10
print( tmp )
my_tuple = tuple( tmp )
print( my_tuple )

(1, 2, 3, 4, 5, 7)
[1, 2, 3, 4, 5, 7]
[10, 2, 3, 4, 5, 7]
(10, 2, 3, 4, 5, 7)

In [30]:
my_tuple = (1, 2, 3, 3, 7, 4, 5, 7 )
print( my_tuple )
print( my_tuple.count(0) )
print( my_tuple.count(7) )

print( my_tuple.index(7) )
print( my_tuple[4] )
print( my_tuple[ my_tuple.index(7) ] )

(1, 2, 3, 3, 7, 4, 5, 7)
0
2
4
7
7

In [33]:
print( 10 in my_tuple )
print( 7 in my_tuple )
# print( my_tuple.index(10) ) # ValueError: tuple.index(x): x not in tuple

False
True

ValueError: tuple.index(x): x not in tuple

In [34]:
this_is_tuple = 1, 2, 3, 4, 5, 7
print( this_is_tuple )
print( type(this_is_tuple) )

(1, 2, 3, 4, 5, 7)
<class 'tuple'>

In [ ]:
integer = 1
float_number = 1.5

In [57]:
my_tuple = (1, 2, 'tekstas', 3, False, 4, 5, ('a', 'b'), [100, [50,60,70] ,500] )
print( len( my_tuple ) )
print( list( range( len( my_tuple ) ) ) )
print( my_tuple )
print( my_tuple[-2] )
print( my_tuple[-1] )
print( my_tuple[-1][-1] )
print( my_tuple[-1][1] )

print( my_tuple[-2] )
print( my_tuple[-2][1] )
print( my_tuple[-2][-1] )

print( my_tuple[-1] )
print( my_tuple[-1][1] )
print( my_tuple[-1][1][0] )

9
[0, 1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 'tekstas', 3, False, 4, 5, ('a', 'b'), [100, [50, 60, 70], 500])
('a', 'b')
[100, [50, 60, 70], 500]
500
[50, 60, 70]
('a', 'b')
b
b
[100, [50, 60, 70], 500]
[50, 60, 70]
50

In [59]:
this_is_NOT_tuple = (1)
print (this_is_NOT_tuple)
print (type(this_is_NOT_tuple))

this_is_IS_tuple = (1,)
print (this_is_IS_tuple)
print (type(this_is_IS_tuple))

1
<class 'int'>
(1,)
<class 'tuple'>

In [61]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print ( my_tuple[-1] )
print ( my_tuple[-1][1] )
print ( my_tuple[-1] [1] [1])
print ( my_tuple[3][1][1] )

[6, [7, 8]]
[7, 8]
8
8

In [65]:
tuple1 = (11, [222, 33], 44, 55)
print( tuple1 )
list_1 = list( tuple1 )
print( list_1 )
print( list_1[1] )
list_1[1] = [222, 22]
print( list_1 )
tuple1 = tuple( list_1 )
# tuple1 = (11, [222, 22], 44, 55)
print( tuple1 )

(11, [222, 33], 44, 55)
[11, [222, 33], 44, 55]
[222, 33]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [68]:
tuple1 = (11, [222, 33], 44, 55)
print( tuple1 )
# tuple1[1] = [222, 22] # error
print( tuple1[1][1] ) 
tuple1[1][1] = 22
print( tuple1 )

(11, [222, 33], 44, 55)
33
(11, [222, 22], 44, 55)

# None a.k.a null, nill, NaN - Not a Number

In [70]:
niekas = None
print( niekas )
print( type(niekas) )

None
<class 'NoneType'>

In [72]:
my_list = [1, 100, 50, 10, 5]
print( my_list.sort() )
print( my_list )

None
[1, 5, 10, 50, 100]

In [78]:
vardas = ''
# print( len(vardas) )

# ilgas kodas
if True:
    vardas = input('Iveskite varda: ')

print( vardas )

In [81]:
vardas = None
# print( len(vardas) )

# ilgas kodas
if False:
    vardas = input('Iveskite varda: ')

print( vardas )

None

# List comprehension

In [83]:
numbers = list(range(1,21) )
print(numbers)
# take numbers divisible by 3
divisble_by_3 = []
for number in numbers:
    if number % 3 == 0:
        divisble_by_3.append(number)

print(divisble_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18]

In [87]:
numbers = list(range(1,21) )
print(numbers)

# [ <item_result> for <item> in <list> if <condition>  ]
divisble_by_3 = [ number for number in numbers if number % 3 == 0 ]
print(divisble_by_3)

divisble_by_3_squared = [ number**2 for number in numbers if number % 3 == 0 ]
print(divisble_by_3_squared)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]

In [88]:
# [ <item_result> for <item> in <list>]
numbers_multiplied_by_2 = [ number*2 for number in numbers ]
print(numbers_multiplied_by_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [91]:
# [ <item_result> if <condition> else <item_results> for <item> in <list>]
divisble_by_3_squared = [ number**2 if number % 3 == 0 else None for number in numbers ]
print(divisble_by_3_squared)

[None, None, 9, None, None, 36, None, None, 81, None, None, 144, None, None, 225, None, None, 324, None, None]

# Dictionary

### Dictionary is mutable

In [92]:
me = {
    # <key>: <value>
    'vardas': 'Darius',
    'pavarde': 'Grigaliunas',
    'amzius': 30,
    'hobiai': ['programuoti', 'tenisas', 'dviraciai'],
}

In [96]:
print( me )
print( me[ 'vardas' ] )
print( me[ 'hobiai' ] )
print( me[ 'hobiai' ][ 0 ] )

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 30, 'hobiai': ['programuoti', 'tenisas', 'dviraciai']}
Darius
['programuoti', 'tenisas', 'dviraciai']
programuoti

In [105]:
me[ 'miestas' ] = 'Vilnius'
print( me )
# print( me[ 0 ] ) # KeyError: 0

{'vardas': 'Darius', 'pavarde': 'Grigaliunas', 'amzius': 30, 'hobiai': ['programuoti', 'tenisas', 'dviraciai'], 'miestas': 'Vilnius'}

In [100]:
someone = {
    True: 'tiesa',
    False: 'melas',
    None: 'niekas',
    2: 'du',
}

In [103]:
print( int( False ) )
print( False == 0 )

0
True

In [110]:
print( someone[ 0 ] )
print( someone[ True ] )
print( someone[ None ] )
print( someone[ 2 ] )
# print( someone[ 3 ] ) # neegzistuojantis raktazodis

melas
tiesa
niekas
du

In [117]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50},
    {'vardas': 'Karolis', 'amzius': 35},
    {'vardas': 'Edvinas', 'amzius': 50}
]
# print( zmones )
# print( zmones[ 0 ] )
# print( zmones[ 0 ]['vardas'] )
for zmogus in zmones:
    print( zmogus['vardas'] )

Jonas
Petras
Karolis
Edvinas

In [120]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
print( me )
del me['city']
print( me )
me.clear()
print( me )

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 27, 'hobbies': ['coding', 'reading', 'gaming']}
{}

In [122]:
me = {'name': 'Tomas', 'age': 27, 'city': None, 'hobbies': ['coding', 'reading', 'gaming']}
print( me )
print( me.pop('city') )
print( me )

{'name': 'Tomas', 'age': 27, 'city': None, 'hobbies': ['coding', 'reading', 'gaming']}
None
{'name': 'Tomas', 'age': 27, 'hobbies': ['coding', 'reading', 'gaming']}

In [127]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming'], 'some_list': [1,2,3,4,5,6,7,8,9,10]}
pop_tuple = me.popitem()
pop_key = pop_tuple[0]
pop_value = pop_tuple[1]
print( pop_tuple )
print( pop_key )
print( pop_value )
print( me )
print( me.popitem() )
print( me )

('some_list', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
some_list
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
('hobbies', ['coding', 'reading', 'gaming'])
{'name': 'Tomas', 'age': 27, 'city': 'Vilnius'}

In [136]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
# print( me['neegzistuojantis_raktazodis'] ) # KeyError
print( me.get('neegzistuojantis_raktazodis') )
print( me.get('city') )
print( me.get('neegzistuojantis_raktazodis', 'NEEGZISTUOJA') )
print( me.get('city', 'NEEGZISTUOJA') )
print( me.get('neegzistuojantis_raktas', 0) ) # error, returns 0
print( me.get('name', 0) ) # No error, returns 0

None
Vilnius
NEEGZISTUOJA
Vilnius
0
Tomas

In [138]:
me = {'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
me[ 'age' ] = 28
print( me )
me.update( {'age': 29, 'city': 'Kaunas', 'car': 'Tesla'} )
print( me )

{'name': 'Tomas', 'age': 28, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 29, 'city': 'Kaunas', 'hobbies': ['coding', 'reading', 'gaming'], 'car': 'Tesla'}

In [146]:
print( me.keys() )

# for key in me:
#     print(key)
# same
for key in me.keys():
    print(f'key is {key} and value is { me[ key ] }')

dict_keys(['name', 'age', 'city', 'hobbies', 'car'])
key is name and value is Tomas
key is age and value is 29
key is city and value is Kaunas
key is hobbies and value is ['coding', 'reading', 'gaming']
key is car and value is Tesla

In [144]:
for value in me.values():
    print(value)

Tomas
29
Kaunas
['coding', 'reading', 'gaming']
Tesla

In [145]:
# for key, value in me.items():
for k, v in me.items():
    print(f'key is {k} and value is {v}')

key is name and value is Tomas
key is age and value is 29
key is city and value is Kaunas
key is hobbies and value is ['coding', 'reading', 'gaming']
key is car and value is Tesla

In [148]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "utc_offset": -28800,
    "lang": "en",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "notifications": None
  },
}

In [153]:
# from twitter_post get friends_count
print( type( twitter_post ) )
print( twitter_post[ 'user' ] )
print( type( twitter_post[ 'user' ] ) )
print( twitter_post[ 'user' ][ 'friends_count' ] )

<class 'dict'>
{'id': 4448809940, 'id_str': '4448809940', 'name': 'ayah', 'screen_name': 'lovbyun', 'location': 'bbh iu jjh pcy kjd dks', 'url': 'https://curiouscat.me/baekhyun-l', 'description': 'hi hello I love exo', 'followers_count': 1142, 'friends_count': 125, 'listed_count': 20, 'favourites_count': 5712, 'statuses_count': 4011, 'utc_offset': -28800, 'lang': 'en', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_image_url': 'http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg', 'notifications': None}
<class 'dict'>
125