# Variable names

Style Guide for Python Code  
https://peps.python.org/pep-0008

In [51]:
number = 4
# 1st_number = 5 # Error
first_number = 5 
number_1 = 5
# 1_number = 5 # Error

# len = 10 # DON'T DO THIS. len is a built-in function

MY_CONSTANT = 10 # Constants are usually written in all caps
print(MY_CONSTANT)
# MY_CONSTANT = 20 # You can change the value of a constant, but it's not recommended
# print(MY_CONSTANT)

10

# Bool (continuation)


<img src="truth_table.webp" alt="drawing" width="400"/>

In [52]:
print( not True)
print( not False)

False
True

In [53]:
print( 'and' )
print( 20 > 10 and 10 > 5)
print( 20 > 10 and 10 < 5)
print( 20 > 100 and 10 < 5)

print( 'or' )
print( 20 > 10 or 10 > 5)
print( 20 > 10 or 10 < 5)
print( 20 > 100 or 10 < 5)

and
True
False
False
or
True
True
False

In [54]:
not True and 5>22 or bool('spam') or ('a' in 'banana')
False and False or True or True
False or True or True

True

In [55]:
('a' in 'banana')

True

# If condition

In [56]:

age = 18
# if <salyga>:

if age >= 18:
    print('You are an adult')

    print('You can vote')
 
print('end')

You are an adult
You can vote
end

In [57]:
age = 15
# if <salyga>:

if age >= 18:
    print('You are an adult')
else:
    print('You are a child')

print('end')

You are a child
end

In [58]:
age = 5
# if <salyga>:

if age >= 65:
    print('You are a senior')
elif age > 30: # else if
    print('You are older than middle age adult')
elif age >= 18:
    print('You are an adult')
else:
    print('You are a child')

print('end')

You are a child
end

In [60]:
age = 15
# if <salyga>:

if age >= 65:
    print('You are a senior')
if age > 30 and age < 65: # else if
    print('You are older than middle age adult')
if age >= 18 and age < 30:
    print('You are an adult')
if age < 18:
    print('You are a child')

print('end')

You are a child
end

In [65]:
# atspausdinti 'cia yra lyginis skaicius' jei skaicius lyginis, kitu atveju atspausdinti 'cia yra nelyginis skaicius'
number = 15274845321

# paprasta dalyba - /, dalybe (sveikoji dalis) //, sveikasis dalybos rezultatas (liekana) %
# 5 % 2 = 1
# 6 % 2 = 0
# 7 % 2 = 1
# 8 % 2 = 0
if number % 2 == 0:
    print('cia yra lyginis skaicius')
else:
    print('cia yra nelyginis skaicius')

cia yra nelyginis skaicius

In [68]:
number = 15274845320

print(number % 7)
if number % 7 == 0:
    print('skaicius dalinasi is 7')
else:
    print('skaicius nesidalina is 7')

0
skaicius dalinasi is 7

# List

In [71]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
len(my_list)

[1, 2, 3, 4, 5]

5

In [70]:
my_list = ['item1', 'item2'] 
print(my_list)
len(my_list)

['item1', 'item2']

2

In [73]:
print( type( my_list ) )

print( type( [] ) )

<class 'list'>
<class 'list'>

In [75]:
print( len( "item1" ) )
print( len( ["item1"] ) )

5
1

In [85]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0] )
print(my_list[-1] )
print( type(my_list) )
print( type( my_list[0] ) )
print( 'slicing', my_list[0:3] ) # [start:end:step]
print( 'slicing', my_list[3:] )

print(my_list)
my_list[2] = 7
print(my_list)
my_list[3] = 'Ne skaicius'
print(my_list)

1
5
<class 'list'>
<class 'int'>
slicing [1, 2, 3]
slicing [4, 5]
[1, 2, 3, 4, 5]
[1, 2, 7, 4, 5]
[1, 2, 7, 'Ne skaicius', 5]

In [87]:
numbers = [ 1, 2, 3, 4, 5, 10, 34, 876]
print(numbers)
numbers.append(50)
print(numbers)
numbers.append(60)
print(numbers)

[1, 2, 3, 4, 5, 10, 34, 876]
[1, 2, 3, 4, 5, 10, 34, 876, 50]
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60]

In [118]:
numbers.append(60)
print(numbers)

[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60]

In [124]:
numbers = [ 1, 2, 3, 4, 5, 10, 34, 876]
print(numbers)
numbers.extend( [50, 60, 70] )
print(numbers)
numbers.extend( [50, 60, 70] * 5 )
print(numbers)
print( len( numbers ) )
print( 'count 10:', numbers.count(10) )
print( 'count 50:', numbers.count(50) )

[1, 2, 3, 4, 5, 10, 34, 876]
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70]
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
26
count 10: 1
count 50: 6

In [127]:
my_list = [1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
list( filter( lambda x: x > 10, my_list ) )

[34,
 876,
 50,
 60,
 70,
 50,
 60,
 70,
 50,
 60,
 70,
 50,
 60,
 70,
 50,
 60,
 70,
 50,
 60,
 70]

In [135]:
my_list = [1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
print(my_list)
print( my_list.reverse() )
# print( my_list.reverse ) # does not run the method
print(my_list)
print(my_list)
print( my_list.reverse() )
print(my_list)
print('with slicing')
print(  my_list[::-1] ) # [start:end:step]
print(my_list)
print('overwriting the list with slicing')
my_list = my_list[::-1]
print(my_list)

[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
None
[70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 876, 34, 10, 5, 4, 3, 2, 1]
[70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 876, 34, 10, 5, 4, 3, 2, 1]
None
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
with slicing
[70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 876, 34, 10, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
[70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 70, 60, 50, 876, 34, 10, 5, 4, 3, 2, 1]

In [142]:
my_list = [1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
print(my_list)
print( my_list.sort() )
print(my_list)
print( my_list.sort(reverse=True) )
print(my_list)

print('sorted function')
print( sorted(my_list) ) # recommended
print(my_list)

print('sorted function with reverse')
my_list = [1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
print(my_list)
print( sorted(my_list, reverse=True) )

[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
None
[1, 2, 3, 4, 5, 10, 34, 50, 50, 50, 50, 50, 50, 60, 60, 60, 60, 60, 60, 70, 70, 70, 70, 70, 70, 876]
None
[876, 70, 70, 70, 70, 70, 70, 60, 60, 60, 60, 60, 60, 50, 50, 50, 50, 50, 50, 34, 10, 5, 4, 3, 2, 1]
sorted function
[1, 2, 3, 4, 5, 10, 34, 50, 50, 50, 50, 50, 50, 60, 60, 60, 60, 60, 60, 70, 70, 70, 70, 70, 70, 876]
[876, 70, 70, 70, 70, 70, 70, 60, 60, 60, 60, 60, 60, 50, 50, 50, 50, 50, 50, 34, 10, 5, 4, 3, 2, 1]
sorted function with reverse
[1, 2, 3, 4, 5, 10, 34, 876, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
[876, 70, 70, 70, 70, 70, 70, 60, 60, 60, 60, 60, 60, 50, 50, 50, 50, 50, 50, 34, 10, 5, 4, 3, 2, 1]

In [146]:
my_list = [1, 2, 3, 4, 5, 10, 34, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
print('before', my_list)
my_list.remove(5)
print('after', my_list)
# my_list.remove(5) # error if not found

print('before pop', my_list)
my_list.pop()
print('after pop', my_list)
my_list.pop(10)
print('after pop(10)', my_list)

before [1, 2, 3, 4, 5, 10, 34, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
after [1, 2, 3, 4, 10, 34, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
before pop [1, 2, 3, 4, 10, 34, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70]
after pop [1, 2, 3, 4, 10, 34, 70, 50, 60, 70, 50, 60, 70, 50, 60, 70, 50, 60]
after pop(10) [1, 2, 3, 4, 10, 34, 70, 50, 60, 70, 60, 70, 50, 60, 70, 50, 60]

In [156]:
numbers = [ 1, 2, 3]
numbers.insert(2, 10)
print(numbers)
numbers.insert(1, 50)
print(numbers)
numbers.extend( [10, 20] )
print(numbers)
numbers.append( [10, 20] )
print(numbers)

print(numbers[-2])
print(numbers[-1])
smaller_list = numbers.pop()
print(numbers)
print(f'{smaller_list=}')

[1, 2, 10, 3]
[1, 50, 2, 10, 3]
[1, 50, 2, 10, 3, 10, 20]
[1, 50, 2, 10, 3, 10, 20, [10, 20]]
20
[10, 20]
[1, 50, 2, 10, 3, 10, 20]
smaller_list=[10, 20]

In [171]:
nested_list = [654, [[[48, [['65']]], 57]]]
# atspausdinti `65`
print(nested_list[1] )
print(nested_list[1][0] )
print(nested_list[1][0][0] )
# print(nested_list)
print(nested_list[1][0][0][1] )
print(nested_list[1][0][0][1][0] )
print(nested_list[1][0][0][1][0][0] )

print(nested_list[-1][0][0][-1][-1][-1] )

[[[48, [['65']]], 57]]
[[48, [['65']]], 57]
[48, [['65']]]
[['65']]
['65']
65
65

Standard functions: https://docs.python.org/3/library/functions.html

Standard libraries: https://docs.python.org/3/library/index.html

In [174]:
name = input('Enter your name: ')

In [175]:
print(name)

Tomas

In [184]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Panevezys']
print(cities)
print( 'Vilnius' in cities)
print( 'Vilnius' not in cities)
print( 'vilnius' in cities)
print( 'London' in cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Panevezys']
True
False
False
False

In [178]:
number = input('Enter number: ')
# number = int( input('Enter number: ') )
number = int(number)
print(number)
print(type(number))
# print( number + 10 ) # error
print( int(number) + 10 )
print()

150
<class 'str'>
160

In [185]:
list_vardai = ["1", "8" , "8", "5" , "5" ,"5", "5", "5"]
print(list_vardai)  
print( len( list_vardai ) )
list_vardai.append("+iurkė")
print(list_vardai)

['1', '8', '8', '5', '5', '5', '5', '5']
8
['1', '8', '8', '5', '5', '5', '5', '5', '+iurkė']

In [187]:
print ("8" in list_vardai)
print (8 in list_vardai)

True
False

In [193]:
list_vardai = ["1", "8" , "8", "5" , "5" ,"5", "5", "5", "+iurkė"]
list_vardai.remove("8")
print(list_vardai)
list_vardai.pop(0)
print(list_vardai)
list_vardai.append("tikras")
print(list_vardai)
list_vardai.sort()
print(list_vardai)
print( list_vardai.count('5') )

['1', '8', '5', '5', '5', '5', '5', '+iurkė']
['8', '5', '5', '5', '5', '5', '+iurkė']
['8', '5', '5', '5', '5', '5', '+iurkė', 'tikras']
['+iurkė', '5', '5', '5', '5', '5', '8', 'tikras']
5