# List

## operations

In [8]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(my_list + [6, 7, 8] )
# print(my_list - [4, 5]) # Error
print(my_list * 2)
print(my_list * 10)
# print(my_list / 5) # Error
# print(my_list / [4,5]) # Error

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## sum, min, max

In [16]:
my_list = [652,45,4,3, -55]
print(my_list)
print( sum( my_list ) )
print( f'sum = { sum( my_list ) }' )

print( min( my_list ) )
print( f'min = { min( my_list ) }' )

print( max( my_list ) )
print( f'max = { max( my_list ) }' )

[652, 45, 4, 3, -55]
649
sum = 649
-55
min = -55
652
max = 652

## mutable and immutable variables  
https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

In [25]:
# imutable variables
a = 1
b = a
c = 1

print('before')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )
print( id(c) )

b += 5
print( 'after')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

# a_address = id(a)

before
a 1
b 1
a address: 2663093174512
b address: 2663093174512
2663093174512
after
a 1
b 6
a address: 2663093174512
b address: 2663093174672

In [27]:
# mutable variables

a = [1, 2, 3]
b = a

print('before')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

b.append(100)
print( 'after')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

before
a [1, 2, 3]
b [1, 2, 3]
a address: 2663193359744
b address: 2663193359744
after
a [1, 2, 3, 100]
b [1, 2, 3, 100]
a address: 2663193359744
b address: 2663193359744

In [29]:
# fix #1 
a = [1,2,3]
b = a.copy() # shallow copy
print('before')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

b.append(100)
print( 'after')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

before
a [1, 2, 3]
b [1, 2, 3]
a address: 2663205978432
b address: 2663206181376
after
a [1, 2, 3]
b [1, 2, 3, 100]
a address: 2663205978432
b address: 2663206181376

In [32]:
# where fix #1 doesn't work
a = [1,2, ['a', 'b', 'c'] ]
b = a.copy()

print('before')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

b[-1].append(100)
b.append(100)
print( 'after')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

before
a [1, 2, ['a', 'b', 'c']]
b [1, 2, ['a', 'b', 'c']]
a address: 2663205671680
b address: 2663198097792
after
a [1, 2, ['a', 'b', 'c', 100]]
b [1, 2, ['a', 'b', 'c', 100], 100]
a address: 2663205671680
b address: 2663198097792

In [33]:
# fix #2 - recommended
import copy
a = [1,2,['a', 'b', 'c'] ]
b = copy.deepcopy( a )

print('before')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

b[-1].append(100)
b.append(100)
print( 'after')
print('a', a)
print('b', b)
print( 'a address:', id(a) )
print( 'b address:', id(b) )

before
a [1, 2, ['a', 'b', 'c']]
b [1, 2, ['a', 'b', 'c']]
a address: 2663198107136
b address: 2663205995392
after
a [1, 2, ['a', 'b', 'c']]
b [1, 2, ['a', 'b', 'c', 100], 100]
a address: 2663198107136
b address: 2663205995392

# Range

In [41]:
print( range(10) )
print( list( range(10) ) ) # range(end)
print( list( range(11) ) )
print( list( range(1, 11) ) ) # range(start, end)
print( list( range(25, 76) ) )
print( list( range(25, 76, 5) ) ) # range(start, end, step)
print( list( range(26, 76, 2) ) )

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75]
[25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]
[25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75]

In [45]:
# for <any_name> in <list/sequence>:
for number in range(25, 76, 5):
    print(number)
    print('end of loop cycle')
print('end of loop')
print('hello')

25
end of loop cycle
30
end of loop cycle
35
end of loop cycle
40
end of loop cycle
45
end of loop cycle
50
end of loop cycle
55
end of loop cycle
60
end of loop cycle
65
end of loop cycle
70
end of loop cycle
75
end of loop cycle
end of loop
hello

In [48]:
cities = [
    'Vilnius',
    'Kaunas',
    'Klaipeda',
    'Siauliai'
]
for city in cities:
    print (f'{city} yra nuostabus miestas!')
    print('end of loop cycle')
    # cities.append('London') # infinite loop. Don't do this

Vilnius yra nuostabus miestas!
end of loop cycle
Kaunas yra nuostabus miestas!
end of loop cycle
Klaipeda yra nuostabus miestas!
end of loop cycle
Siauliai yra nuostabus miestas!
end of loop cycle

In [49]:
x = [
    'Vilnius',
    'Kaunas',
    'Klaipeda',
    'Siauliai'
]
for y in x: # avoid ambiguous names
    print (f'{y} yra nuostabus miestas!')
    print('end of loop cycle')

Vilnius yra nuostabus miestas!
end of loop cycle
Kaunas yra nuostabus miestas!
end of loop cycle
Klaipeda yra nuostabus miestas!
end of loop cycle
Siauliai yra nuostabus miestas!
end of loop cycle

In [63]:
# for number in range(25, 76, 5):
# for number in list( range(25, 76, 5) ) * 2:
for number in range(25, 76, 5):
    print(number)
    if number % 2 == 0:
        print(f'{number} even ')
    print('end of loop cycle')

25
end of loop cycle
30
30 even
end of loop cycle
35
end of loop cycle
40
40 even
end of loop cycle
45
end of loop cycle
50
50 even
end of loop cycle
55
end of loop cycle
60
60 even
end of loop cycle
65
end of loop cycle
70
70 even
end of loop cycle
75
end of loop cycle
25
end of loop cycle
30
30 even
end of loop cycle
35
end of loop cycle
40
40 even
end of loop cycle
45
end of loop cycle
50
50 even
end of loop cycle
55
end of loop cycle
60
60 even
end of loop cycle
65
end of loop cycle
70
70 even
end of loop cycle
75
end of loop cycle

In [64]:
print (list (range(2)) )

[0, 1]

In [66]:
for _ in range(2):
    for number in range(25, 76, 5):
        print(number)
        if number % 2 == 0:
            print(f'{number} even ')
        print('end of inner loop cycle')
    print('end of OUTER loop cycle')

25
end of inner loop cycle
30
30 even
end of inner loop cycle
35
end of inner loop cycle
40
40 even
end of inner loop cycle
45
end of inner loop cycle
50
50 even
end of inner loop cycle
55
end of inner loop cycle
60
60 even
end of inner loop cycle
65
end of inner loop cycle
70
70 even
end of inner loop cycle
75
end of inner loop cycle
end of OUTER loop cycle
25
end of inner loop cycle
30
30 even
end of inner loop cycle
35
end of inner loop cycle
40
40 even
end of inner loop cycle
45
end of inner loop cycle
50
50 even
end of inner loop cycle
55
end of inner loop cycle
60
60 even
end of inner loop cycle
65
end of inner loop cycle
70
70 even
end of inner loop cycle
75
end of inner loop cycle
end of OUTER loop cycle

In [76]:
print( cities)
# ciklas per indeksus
# for city in cities:
#     print(city)
print(len(cities))
# idx - index (indeksas), i - index 
for idx in range( len(cities) ): # range(4) -> 0, 1, 2, 3
    # print(f'indeksas: {idx}')
    print( f'Miestas { cities[idx] } yra po indeksu {idx}')

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai']
4
Miestas Vilnius yra po indeksu 0
Miestas Kaunas yra po indeksu 1
Miestas Klaipeda yra po indeksu 2
Miestas Siauliai yra po indeksu 3

In [77]:
# better way 
for idx, city in enumerate(cities):
# for idx, city in enumerate( range( 1,7 ) ):
    print( f'Miestas { city } yra po indeksu {idx}')

Miestas 1 yra po indeksu 0
Miestas 2 yra po indeksu 1
Miestas 3 yra po indeksu 2
Miestas 4 yra po indeksu 3
Miestas 5 yra po indeksu 4
Miestas 6 yra po indeksu 5

In [78]:
suma = 0
for skaicius in range(1,51):
    print(skaicius)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50