1. Deklaruokite du `int` tipo kintamuosius. Apskaičiuokite jų sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičių iš kito.

In [6]:
number1 = 24
number2 = 5

# f-string (formatted string)
print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} * {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2}')
print(f'{number1} % {number2} = {number1 % number2}')

24 + 5 = 29
24 - 5 = 19
24 * 5 = 120
24 / 5 = 4.8
24 % 5 = 4

2. Deklaruokite du `float` tipo kintamuosius. Apskaičiuokite jų sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičiu iš kito.

In [9]:
number1 = 24.5
number2 = 5.12

# f-string (formatted string)
print(f'{number1} + {number2} = {number1 + number2}')
print(f'{number1} - {number2} = {number1 - number2}')
print(f'{number1} * {number2} = {number1 * number2}')
print(f'{number1} / {number2} = {number1 / number2:0.10f}') # format to 10 decimal places
print(f'{number1} % {number2} = {number1 % number2}')

24.5 + 5.12 = 29.62
24.5 - 5.12 = 19.38
24.5 * 5.12 = 125.44
24.5 / 5.12 = 4.7851562500
24.5 % 5.12 = 4.02

3. Atstumas iki Mėnulio yra apie 384,000 km, o iki Saulės 150,000,000 km. Apskaičiuokite:
   1. kiek kartų atstumas iki Saulės yra didesnis nei iki Mėnulio?
   2. Jeigu norėtume nuvažiuoti iki mėnulio automobiliu, kurio greitis 150km/h, kiek metų, mėnesių, dienų, valandų, sekundžių tai užtruktų?
   3. Kiek dienų (apytiksliai) praėjo nuo jūsų gimimo dienos?

In [14]:
dis_to_moon = 384_000 # same as 384000
dis_to_sun = 150_000_000  # same as 150000000

speed_per_hour = 150

print(f'Atstumas iki saules yra {dis_to_sun / dis_to_moon} kartu didesnis nei atstumas iki menulio ')

speed_per_day = speed_per_hour * 24
speed_per_month = speed_per_day * 30
speed_per_year = speed_per_month * 12
speed_per_minutes = speed_per_hour/60
speed_per_seconds = speed_per_minutes/60

print(dis_to_moon/speed_per_hour)
print(dis_to_moon/speed_per_day)
print(dis_to_moon/speed_per_month)
print(dis_to_moon/speed_per_year)
print(dis_to_moon/speed_per_minutes)
print(dis_to_moon/speed_per_seconds)

print(28*365)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0
10220

In [19]:
from datetime import datetime

birthday = datetime(year=1995, month=9, day=15, minute=30)
print(birthday)
now = datetime.now()
print(now)
time_passed = now - birthday
print(time_passed)
print(time_passed.days)

1995-09-15 00:30:00
2023-11-28 19:08:33.058436
10301 days, 18:38:33.058436
10301

4. Deklaruokite True reikšmę 5 skirtingais būdais

In [21]:
print (10 < 50)
print (10 >= 10)
print (10 == 10)
print(10 != 50)
text = 'ponaspitonas'
print ( 'p' in text )

print (True and 3>2)
print (True )
print (bool(57457))
print (bool('tekstas'))

True
True
True
True
True
True
True
True
True

5. Deklaruokite False reikšmę 5 skirtingais būdais

In [22]:
print (10 > 50)
print (50 <= 10)
print (10 == 50)
print(50 != 50)
text = 'ponaspitonas'
print ( 'u' in text )

print (True and 3<2)
print (False )
print (bool(0) )
print (bool('') )

False
False
False
False
False
False
False
False
False

6. Deklaruokite False:
   1. Naudodami tik `int` tipo duomenį
   2. Tik string tipo duomenį

In [24]:
print (bool(0) )
print (bool('') )
text = 'ponaspitonas'
print ( 'u' in text )

False
False
False