1. Leiskite vartotojui pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 imtinai

2. Gaukite visas įmanomas kombinacijas iš šių sąrašų, įrašykite jas į list’ą. Bus reikalingas dvigubas for ciklas (ciklas cikle)  
Rezultatas turi gautis panašus į:  
kombinacijos = [ [ ‘Pirmadienis’, 10 ], [ ‘Pirmadienis’, 11], [ ‘Pirmadienis’, 12]... ]

In [ ]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

3. Tikrinant skaičius nuo 1 iki 20, atspausdinkite skaičius, kurie dalinasi iš 3 be liekanos. Naudokite for loop ir if

4. Tikrinant skaičius nuo 1 iki 50, pridėkite skaičių prie sumos, jei nauja būsima suma bus lyginė. Naudokite for loop ir if

5. Leiskite vartotojui pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 tik tada, jei pasirinktas skaičius pakeltas kvadratu yra nelyginis.

6. Gaukite visas įmanomas kombinacijas iš šių sąrašų tik tada, jei diena yra arba pirmadienis arba trečiadienis, o valandos yra nuo 12 iki 17, įrašykite jas į list’ą

In [ ]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]